<header>
    <h1>Node & Express</h1>
    <nav>
        <a href="/">Main page</a>
        <a href="/about">About page</a>
    </nav>
    <form>
        <input type="text" placeholder="Username">
        <button>Search</button>
    </form>
</header>