<header>
    <h1>Node & Express</h1>
    <nav>
        <a href="/">Main page</a>
        <a href="/about">About page</a>
    </nav>
    <form method="post" action="/check-user">
        <input type="text" name="username" placeholder="Username">
        <button type="submit">Search</button>
    </form>
</header>